<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="{{pageClass}}" style="font-family: system-ui; margin: 2rem;">
    <nav class="navbar">
      <div class="logo">Eventigo</div>
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/images">Images</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      {{#if session.isLoggedIn}}
        <div class="nav-auth">
          <span>Welcome, {{session.un}}!</span>
          <a href="/logout">Logout</a>
        </div>
      {{else}}
        <a href="/loggedin" class="login-link">Log in</a>
      {{/if}}
    </nav>
    {{{body}}}

  </body>
</html>