<link rel="stylesheet" href="/css/events.css" />

<h2 class="events-title">Events</h2>

<!-- Category buttons -->
<ul class="event-links">
  <li><a href="/events" class="{{#if activeCategoryIsAll}}active{{/if}}">All</a></li>
  {{#each categories}}
    <li>
      <a href="/events/category/{{id}}" class="{{#ifEquals id ../activeCategory}}active{{/ifEquals}}">
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>

<div class="events-container">
  {{#each events}}
  <div class="event-wrapper">
    <div class="event-info">
      <div class="event-image">
         <img src="/img/image1.jpg" alt="{{title}}">
        {{!-- <img src="{{image}}" alt="{{title}}"> --}}
      </div>
      <div class="event-content">
        <h3 class="event-title">{{title}}</h3>
        <p class="event-location-time">{{formatTime date}} {{location}}</p>
        <a href="/events/{{id}}" class="read-more">Read more</a>
      </div>
    </div>

    <div class="event-date">
      <div class="month">{{formatMonth date}}</div>
      <div class="day">{{formatDay date}}</div>
      <div class="year">{{formatYear date}}</div>
    </div>
  </div>
  {{/each}}


    <p class="pagination">
  {{#if hasPrevPage}}
    <a href="/events?page={{prevPage}}" class="arrow">&#8592;</a>
  {{else}}
    <span class="disabled arrow">&#8592;</span>
  {{/if}}

  {{#each pages}}
    {{#ifEquals ../currentPage this}}
      <span class="current">{{this}}</span>
    {{else}}
      <a href="/events?page={{this}}">{{this}}</a>
    {{/ifEquals}}
  {{/each}}

  {{#if hasNextPage}}
    <a href="/events?page={{nextPage}}" class="arrow">&#8594;</a>
  {{else}}
    <span class="disabled arrow">&#8594;</span>
  {{/if}}
</p>

    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>
