<link rel="stylesheet" href="/css/events.css" />

<h2 class="events-title">Events</h2>

<!-- Category buttons -->
<ul class="event-links">
  <li><a href="/events" class="{{#if activeCategoryIsAll}}active{{/if}}">All</a></li>
  {{#each categories}}
    <li>
      <a href="/events/category/{{id}}" class="{{#ifEquals id ../activeCategory}}active{{/ifEquals}}">
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>

{{#if session.isAdmin}}
  <div class="admin-new">
   <form style="display:inline" method="GET" action="/events/new">
  <button type="submit" class="important new-event">+ Add New Event</button>
</form>
  </div>
{{/if}}

<div class="events-container">
  {{#each events}}
  <div class="event-wrapper">
    <div class="event-info">
      <div class="event-image">
        <img src="/img/image1.jpg" alt="{{title}}">
         {{!-- <img src="{{image}}" alt="{{title}}"> --}}
      </div>

      <div class="event-content">
        <h3 class="event-title">{{title}}</h3>
        <p class="event-location-time">{{formatTime date}} {{location}}</p>
        <a href="/events/{{id}}" class="read-more">Read more</a>

        {{#if ../session.isAdmin}}
          <div class="admin-actions">
            <form style="display:inline" method="GET" action="/events/modify/{{id}}">
              <button type="submit" class="important">Edit</button>
            </form>
            <form style="display:inline" method="POST" action="/events/delete/{{id}}">
              <button type="submit" class="important remove">Remove</button>
            </form>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="event-date">
      <div class="month">{{formatMonth date}}</div>
      <div class="day">{{formatDay date}}</div>
      <div class="year">{{formatYear date}}</div>
    </div>
  </div>
  {{/each}}

  <p class="pagination">
    {{#if hasPrevPage}}
      <a href="/events?page={{prevPage}}" class="arrow">&#8592;</a>
    {{else}}
      <span class="disabled arrow">&#8592;</span>
    {{/if}}

    {{#each pages}}
      {{#ifEquals ../currentPage this}}
        <span class="current">{{this}}</span>
      {{else}}
        <a href="/events?page={{this}}">{{this}}</a>
      {{/ifEquals}}
    {{/each}}

    {{#if hasNextPage}}
      <a href="/events?page={{nextPage}}" class="arrow">&#8594;</a>
    {{else}}
      <span class="disabled arrow">&#8594;</span>
    {{/if}}
  </p>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
</div>
<footer>
  <div class="footer-part-1">
    <div class="part1">
      <!--<img src="/img/white.png" alt="eventigo" />-->
      <h1>Eventigo</h1>
      <h3>All newest events in one place</h3>

    </div>
    <div class="part2">
      <h2>Socials</h2>
      <section class="imgs">
        <img src="/img/instagram.png" alt="instagram" />
        <img src="/img/tik-tok.png" alt="tiktok" />
        <img src="/img/twitter.png" alt="twitter" />
        <img src="/img/facebook.png" alt="facebook" />
      </section>
    </div>
    <section class="form">
      <h2>Get the latest news!</h2>
      <input type="email" placeholder="e-mail address" />
      <input class="send" type="submit" value="Send" />
    </section>

  </div>
  <div class="line"></div>
  <p>Terms & Conditions | Privacy Policy | Disclosures </p>
  <p>©2025 Eventigo All Rights Reserved</p>
</footer>