<link rel="stylesheet" href="/css/events.css" />

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}

<h2>Events</h2>
<div class>
  <ul class="event-links">
    <li><a href="/">Music</a></li>
    <li><a href="/">Sport</a></li>
    <li><a href="/">Games</a></li>
    <li><a href="/">Books</a></li>
    <li><a href="/">Art</a></li>
    <li><a href="/">Theater</a></li>
    <li><a href="/">Food</a></li>
    <li><a href="/">Workshops</a></li>
    <li><a href="/">Cinema</a></li>
    <li><a href="/">Party</a></li>
  </ul>
</div>

<div>
  <h1>List of Events</h1>
  <div>
    {{#if session.isAdmin}}
      <p>
        <form style="display:inline" method="GET" action="/events/new">
          <button type="submit" class="important">New Event</button>
        </form>
      </p>

    {{/if}}
    <ul>
      {{#each events}}
        <li><a href="/events/{{id}}">{{title}}</a>:
          {{description}}
          {{location}}
          Date:
          {{date}}.
          Category: {{category_name}}
        {{#if ../session.isAdmin}}
          <form style="display:inline" method="GET" action="/events/modify/{{id}}">
          <button type="submit" class="important">Edit</button>
          </form>
          <form style="display:inline" method="POST" action="/events/delete/{{id}}">
          <button type="submit" class="important">Remove</button>
          </form>
        {{/if}}
          </li>
      {{/each}}
    </ul>
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>
