<link rel="stylesheet" href="/css/images.css" />
<script src="/js/images.js" defer></script>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}
<div class="nav">
<h2>Post from all Events</h2>
<a href="/images/new" class="upload-btn">Upload New Image</a>
</div>

{{#if session.isLoggedIn}}
  <div class="images-container">
    

    {{#each pics}}
      <div class="post">
        <section class="upper">
        <p><b>@{{username}}</b></p>
        <p><span>{{created_at}}</span></p>
        </section>
        <img src="/img/{{filename}}" alt="image">
        <p class="desc">{{description}}</p>

        {{#if ../session.isAdmin}}
          <form action="/images/delete/{{id}}" method="post">
            <button type="submit">Delete</button>
          </form>
          <form action="/images/modify/{{id}}" method="get">
            <button type="submit">Edit</button>
          </form>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="images-container">
    {{#each pics}}
      <div class="post">
        <p><b>{{username}}</b></p>
        <img src="/img/{{filename}}" alt="image">
        <p>{{description}}</p>
      </div>
    {{/each}}
  </div>

  <div id="loginModal" class="modal">
    <div class="modal-content">
      <p>You need to be logged in to view images.</p>
      <a href="/loggedin"><button class="login-btn">Go to Login</button></a>
    </div>
  </div>
{{/if}}



<footer>
  <div class="footer-part-1">
    <div class="part1">
      <!--<img src="/img/white.png" alt="eventigo" />-->
      <h1>Eventigo</h1>
      <h3>All newest events in one place</h3>

    </div>
    <div class="part2">
      <h2>Socials</h2>
      <section class="imgs">
        <img src="/img/instagram.png" alt="instagram" />
        <img src="/img/tik-tok.png" alt="tiktok" />
        <img src="/img/twitter.png" alt="twitter" />
        <img src="/img/facebook.png" alt="facebook" />
      </section>
    </div>
    <section class="form">
      <h2>Get the latest news!</h2>
      <input type="email" placeholder="e-mail address" />
      <input class="send" type="submit" value="Send" />
    </section>

  </div>
  <div class="line"></div>
  <p>Terms & Conditions | Privacy Policy | Disclosures </p>
  <p>©2025 Eventigo All Rights Reserved</p>
</footer>